.containerPojects {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    position: relative;
    grid-gap: 10px;
    margin: 0 auto
}
.projects {
    grid-column: 1 / span 2;
    border: 2px solid orange;
}
.project1, .project2 {
    margin: 0 auto;
    border: 2px solid black;
    height: 300px;
    width: 300px;
}
.project3, .project4 {
    margin: 0 auto;
    border: 2px solid black;
    height: 300px;
    width: 300px;
}
@media (max-width: 700px) {
    
    .projectSection, .project1, 
    .project2, .project3, .project4 {
      grid-column: 1 / span 5;
    }
}